
#block_chat{
    background: #ffffff;
    padding-bottom: 0;
}

ul{
    display: block;
    list-style: none;
    background: #fff;
    margin: 0;
    margin-bottom: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    height: 400px;
    overflow: auto;
}

ul li img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

ul li h5{
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
}

ul p{
    font-size: 12px;
    display: block;
    padding: 0 30px;
    margin: 3px 0;
}

ul p span{
    display: inline-block;
    background: #FF5733;
    color: white;
    padding: 3px 10px;
    line-height: 20px;
    border-radius: 10px;
    max-width: 60%;
}

.user-connected span{
    display: block;
    text-align: center;
    color: #777;
    font-size: 13px;
}

.other{
    text-align: right;
}

.other img{
    float: right;
}

.other span{
    background: #ffffff;
    color: #FF5733;
    border: 1px solid #FF5733;
}

.block{
    max-width: 600px;
    margin: 0 auto;
}

#chat{
    position: relative;
}

#info_user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user_typing{
    position: absolute;
    bottom: -26px;
    left: 0;
    display: inline-flex;
    padding: 7px 5px;
    background: #aaa;
    border-radius: 10px;
}

.user_typing .spinner-grow-sm{
    width: 0.5rem;
    height: 0.5rem;
    background: #fff;
    margin: 0 2px;
}

#member{
    margin-top: 60px;
    padding: 30px;
    max-height: 400px;
    overflow: auto;
}

#member .item_user{
    display: flex;
}

#member .item_user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#member .item_user .user_avatar{
    margin-right: 10px;
}

#member .item_user .item_info h4{
    font-size: 15px;
    margin: 8px 0 0 0;
}

#member .item_user .item_info p{
    font-size: 13px;
}

#member .item_user .item_info p .tick{
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #a71d2a;
}

#member .item_user .item_info p .online{
    background: #28a745 !important;
}

ul::-webkit-scrollbar, #member::-webkit-scrollbar {
    width: 2px;
}
ul::-webkit-scrollbar-track, #member::-webkit-scrollbar-track {
    background: #f1f1f1;
}
ul::-webkit-scrollbar-thumb, #member::-webkit-scrollbar-thumb {
    background: #888;
}
ul::-webkit-scrollbar-thumb:hover, #member::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 764px) {
    #member{
        margin-top: 0;
        padding: 0 30px;
    }
}